<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FitAdmin</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- vue -->
	<script src="/assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="/assets/js-v/config.js"></script>

</head>

<body style="background-color: white">
    
    <!-- [加载状态 ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ 加载状态  ] End -->

    <!-- [ 主内容区 ] start -->
        <div class="pcoded-wrapper" id="app">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
					
								<div class="col-sm-12">
								    <ul class="nav nav-tabs" id="myTab" role="tablist">
								        <li class="nav-item">
								            <a class="nav-link active text-uppercase" id="home-tab" data-toggle="tab" role="tab" href="#home" aria-controls="home" aria-selected="true" style="cursor:pointer;">申请事项</a>
								            <div v-show="loading">
												<!-- [加载状态 ] start -->
										    	<div class="d-flex justify-content-center" style="margin-top:-10px;">
		                                            <div class="spinner-grow spinner-grow-sm" role="status">
		                                                <span class="sr-only">Loading...</span>
		                                            </div>
		                                        </div>
										    	<!-- [ 加载状态  ] End -->
											</div>
								        </li>
								        <li class="nav-item">
								            <a class="nav-link text-uppercase" id="profile-tab" data-toggle="tab"  role="tab" href="#profile" aria-controls="profile" aria-selected="false" style="cursor:pointer;">审批过程</a>
								        </li>
								        <li class="nav-item">
								            <a class="nav-link text-uppercase" id="contact-tab" data-toggle="tab" role="tab" href="#contact" aria-controls="contact" aria-selected="false" style="cursor:pointer;">流程图</a>
								        </li>
								    </ul>
								    <div class="tab-content" id="myTabContent">
								        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
								            <p class="mb-0">
								            	
												<template v-for="group in varListSelected">
													<p v-if="group.name">{{ group.name }}</p>
													<table id="table_report" class="table table-striped table-bordered table-hover" style="margin-top: 10px;">
														<tr style="display: none;">
															<td></td><td></td>
														</tr>
														<template v-for="(data,index) in group.vars">
															<tr>
																<template v-if="data.NAME_ != 'RESULT'">
																	<td style="width:75px;text-align: right;padding-top: 10px;">{{data.NAME_ == 'USERNAME'?'登录用户':data.NAME_}}</td>
																	<td style="padding-top: 10px;">{{data.TEXT_}}</td>
																</template>
															</tr>
														</template>
													</table>
												</template>
												
												<template v-if="msg">
												
													<div id="showform" style="padding-top: 0px;">
													<table style="width: 100%;">
														<tr>
															<td colspan="10" id="omsg" style="padding-bottom: 15px;">
																<!-- 调用服务器端富文本编辑器插件 -->
																<!-- <iframe name="ueFrame" id="ueFrame" frameborder="0" v-bind:src="serverurl+'plugins/ueditor/index.html?TYPE=acthandle&fheight=487'" style="width:100%;height:487px;margin-top: -5px;"></iframe> -->
																<div v-html="formKey"></div>
															</td>
														</tr>
													</table>
													<table id="table_report" class="table table-striped table-bordered table-hover">
														<tr>
															<td style="text-align: center;" colspan="10">
																<a class="btn btn-light btn-sm" v-on:click="handle('yes')"><i class="feather icon-check"></i>批准</a>
																<a v-show="Reject" class="btn btn-light btn-sm" v-on:click="handle('no')" style="margin-left: -8px;"><i class="feather icon-x"></i>驳回</a>
																<a v-show="Abolish" class="btn btn-light btn-sm" v-on:click="isDel" style="margin-left: -8px;" data-toggle="modal" data-target="#exampleModal"><i class="feather icon-trash-2"></i>作废</a>
																<a class="btn btn-light btn-sm" onclick="top.Dialog.close()" style="margin-left: -8px;"><i class="feather icon-corner-right-down"></i>取消</a>
															</td>
															<td v-show="NextASSIGNEE_" width="320">
																指定下一办理对象：
																<input type="text" v-model="ASSIGNEE_" placeholder="不指定则默认对象" value=""  title="指定下一办理对象" style="width:150px;border:1px solid #EAEAEA;background-color:transparent;" readonly="readonly"/>
																<a class="btn btn-light btn-sm" v-on:click="clean" title="清空" style="width: 23px;height:30px;margin-top:1px;cursor:pointer;"><div style="margin-top:0px;margin-left: -6px;">清</div></a>
																<a class="btn btn-light btn-sm" title="选择办理人(单人)" v-on:click="getUser" style="width: 23px;height:30px;margin-top:1px;cursor:pointer;">
																	<i class="feather icon-user" style="margin-top:-6px;margin-left: -6px;"></i>
																</a>
																<a class="btn btn-light btn-sm" title="选择办理角色(此角色下所有人都可以办理)" v-on:click="getRole" style="width: 23px;height:30px;margin-top:1px;cursor:pointer;margin-left:-8px;">
																	<i class="feather icon-users" style="margin-top:-6px;margin-left: -6px;"></i>
																</a>
															</td>
														</tr>
													</table>
													</div>

													<!-- [加载状态 ] start -->
													<div id="jiazai" style="display:none;margin-top:50px;">
														<div class="d-flex justify-content-center">
															<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
																<span class="sr-only">Loading...</span>
															</div>
														</div>
													</div>
													<!-- [ 加载状态  ] End -->													

													
													<!-- 作废弹窗  -->
													<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
														<div class="modal-dialog" role="document">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title" id="exampleModalLabel">要作废此流程吗?</h5>
																	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																</div>
																<div class="modal-body">
																	<div class="form-group">
																		<label for="message-text" class="col-form-label">缘由:</label>
																		<textarea class="form-control" id="message-text" v-model="messagetext">{{messagetext}}</textarea>
																	</div>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-secondary" data-dismiss="modal" id="aclose" v-on:click="wclose">取消</button>
																	<button type="button" class="btn btn-primary" v-on:click="goDel">作废</button>
																</div>
															</div>
														</div>
													</div>
													<!-- 作废弹窗  -->
													
												</template>
								            </p>
								        </div>
								        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
								            <p class="mb-0">
								            	<table id="table_report" class="table table-striped table-bordered table-hover" style="margin-top: 10px;">
												<tr>
													<th style="width:50px;">步骤</th>
													<th style="width:150px;">任务节点</th>
													<th style="width:150px;">办理人</th>
													<th style="width:150px;"><i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>审批开始时间</th>
													<th style="width:150px;"><i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>审批结束时间</th>
													<th style="width:120px;">用时</th>
													<th>审批意见</th>
												</tr>
												<template v-for="(data,index) in hitaskListSelected">
													<tr>
														<td style="width: 30px;text-align: center;">{{index+1}}</td>
														<td style="padding-top: 10px;">{{data.ACT_NAME_}}</td>
														<td style="padding-top: 10px;">
															<template v-if="null != data.ASSIGNEE_">
																<a v-on:click="viewUser(data.ASSIGNEE_)" style="cursor:pointer;"><i style="margin-top:-3px;margin-left: -6px;"  class="feather icon-search"></i>{{data.ASSIGNEE_}}</a>
															</template>
														</td>
														<td style="padding-top: 10px;">{{formatDate(data.START_TIME_)}}</td>
														<td style="padding-top: 10px;">
															<template v-if="null == data.END_TIME_">正在审批……</template>
															<template v-if="null != data.END_TIME_">{{formatDate(data.END_TIME_)}}</template>
														</td>
														<td class='center'>{{data.ZTIME}}</td>
														<td style="padding-top: 10px;">
															<template v-if="null != data.TEXT_">
															<template v-for="(zdata,zindex) in ((data.TEXT_).split(',fh,'))">
										                            <template v-if="zindex == 0">{{zdata}}</template>
										                            <template v-if="zindex == 1">
										                            	<a v-on:click="details('d'+(index+1))" style="cursor:pointer;" title="详情">&nbsp;<i style="margin-top:-3px;margin-left: -6px;"  class="feather icon-search"></i></a>
										                            </template>
										                    </template>
										                    </template>
										                    <textarea v-bind:id="'d'+(index+1)" style="display: none;">{{data.TEXT_}}</textarea>
														</td>
													</tr>
												</template>
												</table>
								            </p>
								        </div>
								        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
								            <p class="mb-0">
								            	<table id="table_report" class="table table-striped table-bordered table-hover" style="margin-top: 10px;">
												<tr>
													<td style="text-align: center;"><img v-bind:alt="FILENAME" v-bind:src="imgSrc"></td>
												</tr>
												<tr>
													<td style="text-align: center;"><p class="text-warning bigger-110 orange" style="padding-top: 5px;">如果图片显示不全,点击最大化按钮</p></td>
												</tr>
												</table>
								            </p>
								        </div>
								    </div>
								</div>
					
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ 主内容区 ] end -->
    
<script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/pre-loader.js"></script>
<script type="text/javascript" src="/assets/plugins/sweetalert/js/sweetalert.min.js"></script>

<!-- 表单验证提示 -->
<script type="text/javascript" src="/assets/js/jquery.tips.js"></script>

<!-- 本页面js -->
<script type="text/javascript" src="/assets/js-v/util/formatDate.js"></script>
<script type="text/javascript" src="/assets/js-v/act/rutask_handle.js"></script>

</body>
</html>